* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	width: 100%;
	height: 100vh;
}
#gameContainer {
	width: 70%;
	height: 100%;
	margin: auto;
	padding: 1rem;
	text-align: center;
	overflow: hidden;
}
#gameBoard {
	/* dont specify dimention for canvas they cause scaling issues */
	/* width: 100%;
	height: 85%; */
	border: 3px solid;
}
.action {
	width: 60vw;
	max-width: 70%;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.scoreText {
	width: 65%;
	text-align: left;
	font-family: "Permanent Marker", cursive;
	font-size: 3.5rem;
}
#resetBtn {
	font-family: "Permanent Marker", cursive;
	font-size: 1.5rem;
	width: 10rem;
	height: 4rem;
	padding: 0.5rem 1rem;
	border: 2px solid;
	border-radius: 15px;
	cursor: pointer;
}
